{% extends 'base.html' %}

{% block title %}{{ user.username }}{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    
</script>
{% endblock %}

{% block page_content %}
<h1>Permission list</h1>
<p>Is admin? {{ user.admin }}</p>
<div class='row'>
    <div class='col-6'>
{% if user.avatar %}
<img src='{{ user.avatar }}' width="300" height="300">
{% else %}
<img src='https://static.wikia.nocookie.net/gensin-impact/images/c/c6/Character_Amber_Thumb.png' width="300" height="300">
{% endif %}
</div>
<div class='col-6'>
    <p>{{ user.username }}</p>
</div>
</div>
{% endblock %}