<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    {% block scripts %}
    <!-- Latest compiled JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script> 
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class='navbar navbar-expand-sm bg-dark navbar-dark'>
        <div class='container-fluid'>
            <a class='navbar-brand' href='{{ url_for("content.home_page") }}'>NSC</a>
            <button class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#collapsiblePart'>
                <span class='navbar-toggler-icon'></span>
            </button>
            <div class='collapse navbar-collapse' id='collapsiblePart'>
                <ul class='navbar-nav'>

                <li class='nav-item'>
                    <a class='nav-link' href='{{ url_for("content.home_page") }}'>Home</a>
                </li>
                {% if not current_user.is_authenticated %}
                <li class='nav-item'>
                    <a class='nav-link' href='{{ url_for("auth.login_page") }}'>Login</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='{{ url_for("auth.register_page") }}'>Register</a>
                </li>
                {% else %}
                <li class='nav-item'>
                    <a class='nav-link' href='{{ url_for("auth.logout") }}'>Logout</a>
                </li>
                {% endif %}

                <li class='nav-item dropdown'>
                    <a class='nav-link dropdown-toggle' href='#' role='button' data-bs-toggle='dropdown'>Content</a>
                    <ul class='dropdown-menu'>
                        <li><a class='dropdown-item' href='{{ url_for("user.user_profile", username=current_user.username) }}'>Profile</a></li>
                        <li><a class='dropdown-item' href='{{ url_for("content.explore_articles") }}'>Explore</a></li>
                        <li><a class='dropdown-item' href='{{ url_for("user.add_new_pic") }}'>New picture</a></li>
                        <li><a class='dropdown-item' href='{{ url_for("content.new_post_page") }}'>Write new</a></li>
                    </ul>
                </li>
            </ul>
            </div>
        </div>
    </nav>
    {% with messages = get_flashed_messages() %}
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    {% endwith %}
    <div class='container'>
    {% block page_content %}{% endblock %}
</div>
</body>
</html>